# Python
__pycache__/
./**/__pycache__/*
*.py[cod]
*$py.class
.venv
venv/
ENV/

# SQLite
*.db
*.sqlite3

# App Data
api/data/


# Docker
.docker/

exported_todos.csv
.shared/
.data/

api/celerybeat-schedule